<html>
  <head>
  <title> Testing!!! </title>
  </head>
  <body bgcolor="black">
    <script>
    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'Messenger'));
       </script>
    <script>
      window.extAsyncInit = function() {
          document.getElementById("p").innerHTML = "in the ting "
     
         MessengerExtensions.getUserID(function success(uids) {
  	       // User ID was successfully obtained. 
           psid = uids.psid;
           document.getElementById("p").innerHTML = psid;
        }, function error(err, errorMessage) {      
        document.getElementById("p").innerHTML = "erorr kathal";
        });  
      };
      function clicked(){
        document.getElementById("p").innerHTML = "heyya "
      }
</script>
    <button onclick = "clicked()" width = 100px height = "100px">Click me</button>
    <p id = "p" style = "color : white"> help</p>
  </body>
</html>
